li{
  margin-bottom: 15px;
}

.property-name{
  font-weight: bold;
}

.movie-list{
  text-align: left;
  color:#000;
}

.character-name {
  font-weight: bold;
  font-size: large;
}

.title{
  font-weight: bold;
}
